<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
        {% block head_content %}{% endblock %}
    </head>
    <body dir="ltr">
        <div class="max-w-lg mx-auto mt-8">
            {% block body_content %}{% endblock %}
        </div>
        <script src="" async defer></script>
    </body>
</html>
